## Final Project Submission

Please fill out:
* Student name: Muthuri Abigail Mwendwa
* Student pace: Full time
* Scheduled project review date/time: June 7th
* Instructor name: Maryann Mwikali

## DATA UNDERSTANDING & CLEANING

**Import Libraries**

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#Import Numpy and the Pandas Package
import numpy as np

#Supress Warnings
import warnings
warnings.filterwarnings('ignore')

#Import Train/Test libraries
from sklearn.model_selection import train_test_split

**Read dataset**

In [ ]:
df = pd.read_csv("car_insurance_claim.csv")
df.head()

In [ ]:
df.shape

- The dataset has 10,302 rows and 27 columns

In [ ]:
df.info()

- My dataset contains 3 data types : int, float, object
- There are missing values in six columns

In [ ]:

# Describe the columns
column_names = [
    "ID", "KIDSDRIV", "BIRTH", "AGE", "HOMEKIDS", "YOJ", "INCOME", 
    "PARENT1", "HOME_VAL", "MSTATUS", "GENDER", "EDUCATION", 
    "OCCUPATION", "TRAVTIME", "CAR_USE", "BLUEBOOK", "TIF", "CAR_TYPE", 
    "RED_CAR", "OLDCLAIM", "CLM_FREQ", "REVOKED", "MVR_PTS", "CLM_AMT", 
    "CAR_AGE", "CLAIM_FLAG", "URBANICITY"
]

column_descriptions = [
    "Unique identifier for each customer.", "Number of kids the customer has who are of driving age.", 
    "Date of birth of the customer.", "Age of the customer.", 
    "Number of kids the customer has at home.", "Years on the job (number of years the customer has been employed).", 
    "Income of the customer.", "Indicates whether the customer is a single parent (Yes/No).", 
    "Value of the customer's home.", "Marital status of the customer (Yes/No).", 
    "Gender of the customer (M/F).", "Education level of the customer.", 
    "Occupation of the customer.", "Daily travel time to work.", 
    "Purpose of car usage (Private/Commercial).", "Value of the customer's car.", 
    "Time in force (Years).", "Type of car.", "Indicates whether the customer owns a red car (yes/no).", 
    "Total amount of previous claims.", "Number of claims reported.", 
    "Indicates whether the customer's driver's license has been revoked (Yes/No).", 
    "Number of motor vehicle record points.", "Possible future claims", 
    "Age of the customer's car.", "Indicates whether a claim was filed (1/0).", 
    "Urbanicity type ((Highly Urban/Urban)/(Highly Rural/Rural))."
]

# Create a DataFrame
data = {'Column Name': column_names, 'Description': column_descriptions}
desc_df = pd.DataFrame(data)

desc_df

### **Cleaning Dataset**

- Convert income and home value to numeric, removing the dollar sign and commas

In [ ]:
df['INCOME'] = df['INCOME'].replace('[\$,]', '', regex=True).astype(float)

In [ ]:
df['HOME_VAL'] = df['HOME_VAL'].replace('[\$,]', '', regex=True).astype(float)

- Convert old claim and claim amount to numeric, removing the dollar sign and commas

In [ ]:
df['OLDCLAIM'] = df['OLDCLAIM'].replace('[\$,]', '', regex=True).astype(float)

In [ ]:
df['CLM_AMT'] = df['CLM_AMT'].replace('[\$,]', '', regex=True).astype(float)

- Check for missing values

In [ ]:
df.isna().sum()

- Drop missing values

In [ ]:
df.dropna(inplace = True)

- Check if dataset has any more missing values

In [ ]:
df.isna().sum()